#img {
    display: block;
    margin:0 auto;
    width:300px;
    height:auto;
}
h1 {
    text-align: center;
    color: orange;
    font-family: "Segoe Print";
}
body{
    background-color: rgba(39, 245, 219, 0.14);
}
nav ul li{
    margin:0 auto;
    list-style: none;
    font-family: "Times New Roman";
}
h5 {
    color: darkred;
    font-family: "Segoe Print";
}

p{
    color: deeppink;
    font-family: "Kristen ITC";
}